
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  background-color: #1a1a1a;
  overflow: hidden; /* Prevent scrollbars from canvas size */
}

#app {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  background-color: #000;
}
